doctype html

html
  head
    title Player Secrets
    link(rel='stylesheet' href='/main.css')
  
  body
    .header
      img(src='/icon.png')
      h2.left Icewind Dale
      h2.right Player Secrets
    .content
      block content
    div.footer
