extends base.pug

block content
  script(src='/player.js', type='text/javascript')
  script(src='/dm.js', type='text/javascript')
  each user, key in players
    .card
      - secret = secrets[user.secret];
      include secret.pug
      hr
      p= `This secret belongs to ${user.name}`
  .card 
    button(onclick='reset()') Reset Secrets
    
